.game-header {
  height: 68px;
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.game-rooms {
  display: flex;
  padding: 16px;
  padding-right: 0;
  flex-wrap: wrap;
}

.game-rooms .ant-card {
  margin-right: 16px;
  margin-bottom: 16px;
}
